@import url('https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans+SC:wght@100..900&family=Noto+Serif+SC:wght@100..900&family=Afacad+Flux:wght@100..1000&family=LXGW+WenKai+TC&family=Noto+Serif+TC:wght@200..900&family=Noto+Sans+TC:wght@200..900&family=Zhi+Mang+Xing&display=swap');
/* @font-face 
{
    font-family: 'cwTeXKai';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.eot) ; 
    src: url(https://fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.eot?#iefix) format('embedded-opentype'),url(https://fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.woff2) format('woff2'),url(https://fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.woff) format('woff'),url(https://fonts.gstatic.com/ea/cwtexkai/v3/cwTeXKai-zhonly.ttf) format('truetype') ; 
} */
/* @counter-style a 
{
    system : numeric ; 
    range : 0 infinite ; 
    symbols : '零' '壹' '貳' '參' '肆' '伍' '陸' '柒' '捌' '玖' ; 
    prefix : '' ; 
    suffix : '、' ; 
} */
/* @keyframes _0 
{
    from { opacity : 0 ; } 
    to { opacity : 1 ; }
} */
/* @keyframes a 
{
    0%{ content : '\003e\00a0\00a0\00a0' ; } 
    50% { content : '\00a0\003e\00a0\00a0' ; } 
    100% { content : '\003e\00a0\00a0\00a0' ; } 
} */
/* @keyframes b 
{
    0%{ --deg : 0deg ; } 
    12.5%{ --deg : 45deg ; } 
    25%{ --deg : 90deg ; } 
    37.5%{ --deg : 135deg ; } 
    50%{ --deg : 180deg ; } 
    62.5%{ --deg : 225deg ; } 
    75%{ --deg : 270deg ; } 
    87.5%{ --deg : 315deg ; } 
    100%{ --deg : 360deg ; }
} */
/* @keyframes c 
{
    0%{ --deeg : 0deg ; } 
            6.25%{ --deeg : 22.5deg ; } 
        12.5%{ --deeg : 45deg ; } 
            18.75%{ --deeg : 67.5deg ; } 
    25%{ --deeg : 90deg ; } 
            31.25%{ --deeg : 115.5deg ; } 
        37.5%{ --deeg : 135deg ; } 
            43.75%{ --deeg : 157.5deg ; } 
    50%{ --deeg : 180deg ; } 
            56.25%{ --deeg : 202.5deg ; } 
        62.5%{ --deeg : 225deg ; } 
            68.75%{ --deeg : 27.5deg ; } 
    75%{ --deeg : 270deg ; } 
            81.25%{ --deeg : 292.5deg ; } 
        87.5%{ --deeg : 315deg ; } 
            93.75%{ --deeg : 337.5deg ; } 
    100%{ --deeg : 360deg ; }
} */
:root 
{
    /* animation : b .3s infinite ;  */
    --deg : 15deg ; 
    font-size : 1em ; 
    --first-colour : linear-gradient( 15deg , #2d4095 , #57c1ff ) ; 
    --first-bg : linear-gradient( 15deg , #fff , #fff ) ; 
    --first-date : #000 ; 
    --first-date-font : "Afacad Flux" ; 
    --noto-sans : "Noto Sans TC" , "Noto Sans SC" ; 
    --noto-serif : "Noto Serif TC" , "Noto Serif SC" ; 
    --colour : #333 ; 
    --colour-article : #000 ; 
    --colour-article-sub : #ccc ; 
    --colour-sub : #ccc ; 
    --bg-colour : #fff ; 
    --font-kai : "BiaukaiTC" , "cwTeXKai" , "DFKai-SB" , "TW-Kai" , sans-serif ; 
    --end-colour : linear-gradient(var(--deg),#004aad,#ff4304) ; 
    --end-Font : 'Anton' ; 
}
*
{
    margin : 0 ; 
    padding : 0 ; 
    box-sizing : border-box ; 
}
html , body 
{
    width : 100% ; 
    height : 100vh ; 
}
body 
{
    font-family : "LXGW WenKai TC"/*google font*/ , DFKai-SB/*windows內建字體*/ , sans-serif ; 
    font-weight : 400 ; 
    font-style : normal ; 
}
/* noscript 
{
    width : 100% ; 
    display : flex ; 
    justify-content : center ; 
    align-items : center ; 
    position : fixed ; 
    top : 0 ; 
    font-family : var(--noto-sans) ; 
    font-size : 10rem ; 
    font-weight : 900 ; 
} */
ul , ol 
{
    list-style-type : none ; 
}
a 
{
    color : #00f ; 
    text-decoration : none ; 
    font-weight : 500 ; 
    font-family : var(--noto-sans) ,  sans-serif ; 
}
.aaa 
{
    justify-content : center ; 
    align-items : center ; 
    /* position : fixed ;  */
    width : 100% ; 
    height : 100vh ; 
    display : flex ; 
    font-size : 2rem ; 
    color : var(--colour) ; 
    background-color : var(--bg-colour) ; 
    flex-direction : column ; 
}
.click-left , .click-right
{
    display : none ; 
}
h1:not( .fst h1 ):not( .end h1 ) 
{
    font-family : source-han-serif-tw-subset ; 
    font-weight : 900 ; 
}
h1:not( .fst h1 ):not( .e h1 ):not( .end h1 ) 
{
    border-bottom : 1px solid #ccc ; 
    width : 50% ; 
    display : flex ; 
    justify-content : center ; 
    margin-bottom : 1em ; 
}
p 
{
    width : 40em ; 
    text-indent : 2em ; 
}
h6 
{
    font-size : 1.5em ; 
    margin : 0 calc(50% - 6.5em) ; 
}
article 
{
    height : 15em ; 
    margin-bottom : 3em ; 
}
.print 
{
    display : inline ; 
}

/*first*/
.fst 
{
    background : var(--first-bg) ; 
}
.fst h1 
{
    position : relative ; 
    font-family : 'Xingkai SC' ; 
    color : transparent ; 
    background-clip : text ; 
    background-image : var(--first-colour) ; 
}
.fst h1 span:first-child 
{
    display : none ; 
}
.fstD 
{
    color : var(--first-date) ; 
    position : absolute ; 
    bottom : 2rem ; 
    left : 3rem ; 
    font-family : var(--first-date-font) ; 
}

/* e */
.e 
{
    font-size : 1rem ; 
    position : relative ; 
}
.e h1 
{
    position : absolute ; 
    top : 10px ; 
    left : 10px ; 
    font-size : 5rem ; 
    writing-mode : vertical-lr ; 
}
.e div 
{
    display : flex ; 
    flex-direction : column ; 
    justify-content: center;
    align-items: center;
    writing-mode : vertical-lr ; 
}
    
/*end*/
.end h1 
{
    color : transparent ; 
    font-family : var(--end-Font) ; 
    font-size : 17.5rem ; 
    position : relative ; 
    top : 0 ; 
    left : 0 ; 
    font-weight : 400 ; 
    background-clip : text ; 
    background-image : var(--end-colour) ; 
}